OPENROUTER_API_KEY=xxx
TAVILY_API_KEY=yyy

# OpenRouter Configurations
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
DEFAULT_TEXT_MODEL=deepseek/deepseek-v4-flash
DEFAULT_IMAGE_MODEL=google/gemini-2.5-flash-image

# Vector DB
CHROMA_HOST=chroma
CHROMA_PORT=8000